@import "__variables.css";
@import "constants.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font);
  color: #2c2c2c;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
p {
  font-size: 0.9rem;
  line-height: 2;
}
.container {
  display: flex;
  padding: 1rem 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  padding: 0.5rem 0;
  color: #ffffff;
}
.title {
  font-size: 0.58rem;
  opacity: 0.5;
  color: var(--green);
}
.main-title {
  font-size: 1.2rem;
  color: #2c2c2c;
  padding: 0.5rem 1rem 1.5rem;
}
.section {
  padding: 4rem 2rem;
}
.bg-grey {
  background-color: var(--grey);
}
.col-row {
  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
  height: 90vh;
  position: relative;
  background: url("../images/banner-bg.png") center no-repeat #111111;
  background-size: cover;
}
.main-header .header-brand-nav {
  position: relative;
  overflow-x: hidden;
}
.main-header .header-brand-nav .container {
  justify-content: space-between;
  padding: 2rem 1rem 1rem;
}
.main-header .header-brand-nav .brand {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .header-brand-nav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 20%;
  position: relative;
}
.main-header .header-brand-nav nav::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 80px;
  border-radius: 100%;
  top: -38px;
  right: -36px;
  background-color: var(--green);
}
.main-header .header-brand-nav nav .mobile-nav {
  display: flex;
  position: relative;
  width: 24px;
  height: 14px;
  margin-left: auto;
  cursor: pointer;
  z-index: 2;
}
.main-header .header-brand-nav nav .mobile-nav::before,
.main-header .header-brand-nav nav .mobile-nav::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.main-header .header-brand-nav nav .mobile-nav::before {
  top: 0;
}
.main-header .header-brand-nav nav .mobile-nav::after {
  bottom: 0;
}
.main-header .header-brand-nav nav .web-nav {
  display: none;
}
.main-header .header-caption {
  margin-top: 150px;
  padding: 1rem 2rem;
}
.main-header .header-caption h1 {
  font-size: 2.65rem;
  color: #fff;
}
.main-header .header-caption h1 span {
  color: #bbd54b;
}
.main-header .header-caption p {
  color: #fff;
  margin-top: 60px;
  font-size: 1rem;
  line-height: 28px;
  font-weight: 300;
  font-family: var(--helvetica-light);
}
.main-header .header-caption p a {
  color: var(--primary-btn-background);
}

.feature {
  padding: 1rem 0;
}
.feature .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.feature .container .title {
  padding-bottom: 1rem;
  color: #1a1a1a;
}
.feature .container .brand-logos {
  width: 100%;
  padding: 0.35rem 2rem;
}

.services {
  padding-top: 1rem;
}
.services .container .content .col-row .service-box {
  position: relative;
  height: 320px;
  overflow: hidden;
  margin: 1rem 0;
}
.services .container .content .col-row .service-box::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}
.services .container .content .col-row .service-content {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1.7rem;
  z-index: 3;
}
.services .container .content .col-row .service-title {
  color: #ffffff;
  width: 65%;
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 768px) {
  .col-row {
    flex-direction: row;
  }
  .main-header .header-brand-nav nav .mobile-nav {
    display: none;
  }
  .main-header .header-brand-nav nav .web-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-header .header-brand-nav nav .web-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 300;
    margin-right: 70px;
  }
  .main-header .header-brand-nav nav .web-nav li:last-child {
    margin-left: auto;
  }
  .main-header .header-brand-nav nav .web-nav li a.link-btn {
    padding: 15px 50px;
    background: var(--primary-btn-background);
    color: var(--primary-btn-color);
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--helvetica-light);
    font-weight: 200;
    font-size: 1rem;
    margin-right: 0;
  }
}
